<h1>Articles with your Notes</h1>

<h3>Save</h3>
<div class="article">
<ul>
  {{#each Article}}
  	<li>
  	   <p>ID: {{this.blurb2}}</p>
       <p>Event: {{this.link}}</p>
  	</li>
  {{/each}}
</ul>
</div>

